<section class="content">

    <mat-card>
        <button mat-flat-button (click)="returnToLogin()">Retour</button>

        <mat-card-title>NUTRECIPE</mat-card-title>

        <mat-card-subtitle>Mot de passe oublié</mat-card-subtitle>

        <mat-card-content>
            <form>
                <div>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput placeholder='email' type="email" id="email" name="email" [formControl]="emailControl" required>
                        <mat-error *ngIf="emailControl.invalid">{{ getErrorMessage() }}</mat-error>
                    </mat-form-field>
                </div>

                <div class="buttons">
                    <div><button mat-raised-button type="button" (click)="getNewPassword()">Recevoir un nouveau mot de passe</button></div>
                </div>

                <br>

                <div *ngIf="newPassword !== ''">
                    Votre nouveau mot de passe : {{ newPassword }}
                </div>

                <br>

                <a *ngIf="newPassword !== ''" mat-button color="primary" [routerLink]="">Veuillez retourner sur la page de connexion</a>
            </form>
        </mat-card-content>

    </mat-card>
    
</section>

