<section class="content">

    <mat-card>
        <mat-card-title>NUTRECIPE</mat-card-title>

        <mat-card-subtitle>Connexion</mat-card-subtitle>

        <mat-card-content>
            <form [formGroup]="loginFormGroup" (ngSubmit)="login()">
                <div>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput placeholder='email' type="email" id="email" name="email" formControlName="emailControl" required>
                        <mat-error *ngIf="getErrorMessage('emailControl','required')">Ce champ est obligatoire</mat-error>
                        <mat-error *ngIf="getErrorMessage('emailControl','email')">L'email n'est pas valide</mat-error>
                        <mat-error *ngIf="getErrorMessage('emailControl','pattern')">L'email n'est pas bien formaté</mat-error>
                    </mat-form-field>
                </div>

                <br/>

                <div>
                    <mat-form-field hintLabel="Min 6 caractères">
                        <mat-label>Mot de passe</mat-label>
                        <input matInput #input placeholder='mot de passe' min="6" [type]="hide ? 'password' : 'text'" id="password" name="password" formControlName="passwordControl" required>
                        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                        <mat-hint align="end">{{ input.value?.length || 0}}/6</mat-hint>
                        <mat-error *ngIf="getErrorMessage('passwordControl','required')">Ce champ est obligatoire</mat-error>
                        <mat-error *ngIf="getErrorMessage('passwordControl','minlength')">6 caractères minimum</mat-error>
                    </mat-form-field>
                </div>

                <br/>

                <div class="buttons">
                    <div><button mat-raised-button color="primary" type="submit">Se connecter</button></div>
                </div>
                
                <div><a mat-button [routerLink]="['/register']">Pas encore inscrit ?</a></div>
                
                <div><a mat-button [routerLink]="['/forgotPassword']">Mot de passe oublié ?</a></div>
            </form>
        </mat-card-content>

    </mat-card>
    
</section>
